{{#each movie}}
<div class="movie-details">
  <h1>{{this.title}}</h1>
  <div class="movies-info">
    <img src={{this.image}} alt={{this.title}}>
    <p class="synopsis">{{this.synopsis}}</p>
  </div>
  <div class="description">
    <p><strong>RATING: </strong> {{this.rating}}</p>
    <p><strong>YEAR: </strong> {{this.released}}</p>
    <p><strong>RUNTIME: </strong> {{this.runtime}}</p>
  </div>


  <div class="havewatched">

    <button class="btn-movie" id="toSeen"
      onclick="addToSeen({{this.netflixid}},`{{this.title}}`); disableBtn();">Already
      Watched</button>

    <button class="btn-movie" id="toWatch"
      onclick="addToWatchList({{this.netflixid}},`{{this.title}}`), disableBtn();">Add to Watch
      List</button>
  </div>


  <a class="btn-movie" href="https://www.netflix.com/title/{{this.netflixid}}">Watch now</a>
  <button class="btn-movie" onclick="next();">Get New Suggestion</button>
  {{!-- <div>
      <iframe width="640" height="360"
        src="https://www.youtube.com/embed/?listType=search&list={{this.title}}_trailer&autoplay=1"/>
    </div> --}}
</div>
{{/each}}



<script>
  let showIndex = 0;
  const listOfMovies = document.querySelectorAll('.movie-details')
  //console.log(listOfMovies)
  const show = () => {
    listOfMovies.forEach((x, i) => {
      if (i === showIndex) x.style.display = 'flex'
      if (i !== showIndex) x.style.display = 'none'
    })
  }
  const next = () => {
    showIndex += 1
    console.log(showIndex)
    show()
  }
  show();

  const addToSeen = (netflixId, title) => {
    axios({
      method: 'post',
      url: '/movies/seen/',
      data: {
        netflixId,
        title
      }
    })
      .then(response => {
        console.log(response);
      })
      .then(err => {
        console.log(err)
      })
  };

  const addToWatchList = (netflixId, title) => {
    axios({
      method: 'post',
      url: '/movies/watchlist/',
      data: {
        netflixId,
        title
      }
    })
  };

  const disableBtn = () => {
    let toSeenList = document.querySelectorAll("#toSeen");
    toSeenList[showIndex].style.display = 'none';

    let toWatchList = document.querySelectorAll("#toWatch");
    toWatchList[showIndex].style.display = 'none';
  };


</script>