
{{#each movie}}
<div>
  <h1>{{title}}</h1>
  <p>Synopsis: {{synopsis}}</p>
  <img src={{image}} alt={{title}}>
  <p>Rating: {{this.rating}}</p>
  <p>Released Year: {{this.released}}</p>
  <p>Duration: {{this.runtime}}</p>
  <a href="https://www.netflix.com/title/{{this.netflixid}}">Watch now</a>
  <a href="/">Get New</a>
  <a href="/">Add to "Already Watched" List</a>
</div>
{{/each}}

<script>
  console.log()
  let test = {{movie[0]}}
  console.log(test)
</script>
