<div class="card my-profile" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">{{userProfile.username}}'s profile</h4>
  </div>
  <h3>{{userProfile._id}}</h3>
  <div class="followed">
    <ul>
      {{#each userProfile.follow}}
      <li><a href="/profile/{{this.id}}">{{this.username}}</a></li>
      {{/each}}
    </ul>
  </div>



  <div class="list-group list-group-flush">
    {{#if userProfile.watchlist}}
    <h5 class="list-group-item">On my watch list:</h5>
    <ul>
      {{#each userProfile.watchlist}}
      <li><a id={{netflixId}} href="">{{title}}</a>
        <button onclick="removeFromWatchlist({{this.netflixId}})">Delete</button>
        <button onclick="moveToSeen({{this.netflixId}})">Watched</button>
      </li>
      {{/each}}
    </ul>
    {{/if}}



    {{#if userProfile.seen}}
    <h5 class=" list-group-item">Movies I've seen:</h5>
    <ul id="seenMovies">
      {{#each userProfile.seen}}
      <li><a id="seenMovies" href="">{{title}}</a>
        {{!-- <button id="addRating">Rate this movie</button> --}}
      </li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if showFollow}}
    <button id="followbtn" onclick="follow('{{userProfile._id}}','{{userProfile.username}}')"> Follow Friend </button>
    {{/if}}
  </div>
</div>


<script>
  let btnTry = document.getElementById("followbtn")
  const follow = (id, username) => {
    console.log("test: ", username)
    //axios
    //.post(`/profile/follow/${id}`)
    axios({
      method: 'post',
      url: '/profile/follow/',
      data: {
        id,
        username
      }
    })
      .then(response => {
        btnTry.style.display = 'none'
        console.log(response);
        console.log("oi", btnTry)
      })
      .catch(err => {
        console.log(err)
      })
<<<<<<< HEAD
=======
  };


  const removeFromWatchlist = (netflixId) => {
    axios({
      method: 'post',
      url: '/movies/watchlist/del',
      data: {
        netflixId,
      }
    })

    const deletedFromList = document.getElementById(netflixId);
    deletedFromList.style.display = "none"

  };

  const moveToSeen = (netflixId) => {
    /////////CONTINUE HERE////////////

    const moveElement = document.getElementById(netflixId);
    //console.log('move element: ', moveElement)

    const contentToCopy = moveElement.innerHTML;
    //console.log(contentToCopy);
    const newMovieToAdd = document.createElement("a");

    newMovieToAdd.innerHTML = contentToCopy;
    console.log('newMovieToAdd: ', newMovieToAdd)

    const seenMovieList = document.getElementById("seenMovies");





    //{{!-- WE STILL NEED TO SET THIS ONE --}}
    //axios({
    //method: 'post',
    //url: '/movies/watchlist/del',
    //data: {
    //netflixId,
    //}
    //})

>>>>>>> userLists

  }

</script>